name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '#build')
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: maizecyber
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: maizecyber/ankibot:gcpv2